# Node modules
node_modules/

# Composer vendor directory
vendor/

# Composer lock file
composer.lock
composer.json

# npm lock file
package-lock.json
package.json

# .env file
.env

# Other files or directories to ignore
.DS_Store
